:root {
    --primary-color: #1F6CB0;
    --secondary-color: #E2B850;
    --alternative-color: #E24C60;
    --texts: "Palanquin";
    --headlines: "Arima";
}

@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Arima/Arima-VariableFont_wght.ttf) format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Arima/Palanquin/Palanquin-Regular.ttf) format('woff2');
}

/** General **/

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    
    font-family: var(--headlines);
    font-size: 24px;
    max-width: 1440px;
    }

.header-content {
    max-width: 1440px;
    height: 128px;

    margin: 0 auto;

    display: flex;
    align-items: center;
}

.header-logo {
    height: 72px;
    width: 72px;
    object-fit: contain;
    /* Sorgt dafür, dass das Logo nicht verzerrt */
}


nav ul {
    display: flex;
    list-style-type: none;
    gap: 72px;
    justify-content: center;
}

nav ul a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
}

main p {
    color: #54370D;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 128px;
    color: white;
    font-family: var(--texts);
    font-size: 16px;
    padding: 0px 80px;
}

footer a {
    color: white;
}

/** Headlines **/
h1 {
    color: var(--alternative-color);
    font-family: var(--headlines);
    font-size: 64px;
    font-weight: 700 bold;
    line-height: 1.2;
}

h2 {
    color: var(--primary-color);
    font-size: 52px;
    font-weight: 600;
    font-family: var(--headlines);
}

h3 {
    font-family: var(--headlines);
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
    color: #54370D;

    align-self: center;
}

/** Text **/


/** Images **/
.socials {
    display: flex;
    align-items: center;
    gap: 16px;
}

.yt-logo {
    height: 44px;
    width: 44px;
    ;
}

/**MAIN**/
/**Hero-section**/
.hero {
    display: flex;
    width: 100%;
    position: relative;

    background-image: url(img/landing-page_hero\ photo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-section-yellow {
    position: relative;
    width: 45%;
}

.hero-section-yellow>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.hero-section-text {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);

    max-width: 280px;
    z-index: 2;
}

.hero-section-text>h3 {
    font-size: 60px;
}

.hero-section-text>p {
    font-family: var(--texts);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.1;
}

.hero-section-circle {
    position: absolute;
    top: 55%;
    left: 30%;
}

/**Slider-Section**/
.slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 80px;
    gap: 88px;
}

.slider-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;

    max-width: 979px;
}

.slider-section-text-headline {
    display: flex;
    align-items: center;
}

.slider-section-text-headline h1 {
    color: var(--primary-color);
    font-size: 52px;
}

.slider-section-text {
    font-size: 24px;
    font-family: var(--texts);
    line-height: 1.1;
}

.slider-section-text-headline img {
    height: 48px;
}

/**Slider**/

.slider-landing_page {
    position: relative;

    background-color: black;

    width: 1200px;
    height: 533px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;

    border-top-right-radius: 100px;
}

.slider-landing_page input {
    z-index: 2;
}

.slider-landing_page_wrapper {
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    width: 400%;
    height: 100%;

    transition: all 1s ease-in-out;
}

.slider-landing_page_element {
    width: 100%;
    height: 100%;

    padding: 16px 24px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.element_one {
    background-image: url("./img/carousel-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.element_two {
    background-image: url("./img/copenhagen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.element_three {
    background-image: url("./img/pattaya.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.element_four {
    background-image: url("./img/mount_fuji.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-landing_page input[value="one"]:checked~.slider-landing_page_wrapper {
    transform: translatex(0%);
}

.slider-landing_page input[value="two"]:checked~.slider-landing_page_wrapper {
    transform: translatex(-25%);
}

.slider-landing_page input[value="three"]:checked~.slider-landing_page_wrapper {
    transform: translatex(-50%);
}

.slider-landing_page input[value="four"]:checked~.slider-landing_page_wrapper {
    transform: translatex(-75%);
}

.slider-landing_page_element_text {
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 881px;


    padding: 16px 24px;

    gap: 8px;

    text-align: left;
}

.slider-landing_page_element_text h2 {
    font-family: var(--texts);
    font-size: 48px;
    font-weight: bold;
    color: white;
    line-height: 1;
}

.slider-landing_page_element_text p {
    font-family: var(--texts);
    font-size: 28px;
    color: white;
    line-height: 1.1;
}

.slider-link {
    display: block;
    flex: 0 0 25%;
    width: 25%;
    height: 100%;
    text-decoration: none;
}


/** FAQ **/

.FAQ-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding-top: 120px;
}

.FAQ {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.FAQ h2 {
    font-size: 52px;
    height: fit-content;
}

.FAQ img {
    padding-bottom: 5px;
}

.FAQ-questions {
    display: flex;
    flex-direction: column;

    gap: 32px;
}

.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    font-family: var(--texts);
    color: #54370D;
    background-color: var(--secondary-color);

    width: 1200px;
    padding: 16px 14px;
    border-radius: 12px;
}

/** Contact **/

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-bottom: 120px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.contact p {
    color: #54370D;
    font-size: 24px;
    font-family: var(--texts);
    font-weight: 600;
    line-height: 110%;
}

.contact-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.contact-form-send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.privacy-policy-check {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    color: #54370D;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--texts);
}

.privacy-policy-check a {
    color: var(--primary-color);
    text-decoration: none;
}


/** Input **/

input {
    border: none;
    border-bottom: 2px solid #54370D;
    outline: none;
    padding: 8px 0;
}

.input-top {
    width: 575px;
}

.input-bottom {
    width: 1200px;
}

.input-p {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--texts);
}

.contact-form-inputs {
    display: flex;
    flex-direction: column;
    width: 1200px;
    gap: 64px;
}

.contact-form-inputs-top {
    display: flex;
    gap: 50px;
}

.contact-form-inputs-top-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 17px;
}

.contact-form-inputs-top-right {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 17px;
}

.contact-form-inputs-bottom {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/** Buttons **/

.contact-form-send-button {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: white;
    font-family: var(--headlines);
    font-size: 24px;
    font-weight: 700;
    color: #737373;
    border: 2px solid #737373;
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        height: auto;
        padding: 24px 20px;
        gap: 16px;
        justify-content: center !important;
        align-items: center;
    }

    /* Hier steuern wir das Logo über deine neue Klasse an */
    .header-logo {
        height: 60px;
        /* Auf Handys leicht kompakter */
        width: 60px;
    }

    header nav ul {
        gap: 24px;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;

    }

    .yt-logo {
        height: 22px;
        width: 22px;
        ;
    }
}