:root {
    --primary-color: #1F6CB0;
    --secondary-color: #E2B850;
    --alternative-color: #E24C60;
    --texts: "Palanquin";
    --headlines: "Arima";
}

@font-face {
    font-display: swap; 
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Arima/Arima-VariableFont_wght.ttf) format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Arima/Palanquin/Palanquin-Regular.ttf) format('woff2'); 
}

/** General **/

html, body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    background-color: var(--primary-color);
    height: 128px;
    align-items: center;
    padding-left: 146px;
    font-family: var(--headlines);
    font-size: 24px;
}

header img {
    height: 72px;
    width: 72px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 72px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

main {    
    height: 128px;
    flex: 1;
}

section {
    max-width: 1440px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 128px;
    color: white;
    font-family: var(--texts);
    font-size: 16px;
    padding: 0px 80px;
}

footer a {
    color: white;
}

/** Headlines **/
h1 {
    color: var(--alternative-color);
    font-family: var(--headlines);
    font-size: 64px;
    font-weight: 700 bold;
    line-height: 1.2;
}

h2 {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-family: var(--headlines);
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
    color: #54370D;

    align-self: center;
}

/** Text **/


/** Images **/
.socials {
    display: flex;
    align-items: center;
    gap: 16px;
}